<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <style type="text/css">
    	html,body{font-family: simkai;background-color: #fff;overflow-x: initial;}

    </style>
</head>
<body>
  <div>
      <span>角色名称:</span><input class="jsmc" style=" height: 30px; width: 200px;font-family: simkai;border:1px #ccc solid;border-radius: 3px;outline: none;" placeholder="&nbsp请输入要创建的角色名称"/>
  </div>
  <br>
<div>
      <div style="float: left;">角色描述:</div><textarea class="jsms" style="height: 90px; width: 190px;font-family: simkai;border:1px #ccc solid;border-radius: 3px;outline: none;resize:none;padding: 5px;" placeholder="&nbsp请输入内容"/></textarea>
</div>
  <button style="margin-top: 30px;margin-left: 25px; height:40px;width: 110px;font-family: simkai; background: linear-gradient(to top, #5d6dc3, #3c86d8);
    border-radius:10px;color:#ffffff;border:none ;font-size:20px;line-height:40px;cursor:pointer;" id="ARY-push">保存</button>
</body>
<script src="../lib/jquery-3.1.1.min.js"></script>
<script src="../js/com.js"></script>
<script src="../lib/addres.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script>
    $("#ARY-push").on("click", function(){


        $.ajax({
            url:$ip+"admin/roles/add",
            datatype:"json",
            type: "POST",
            data:{'rolename':$(".jsmc").val(),'description':$(".jsms").val()},
            error:function(msg){
                console.log('请求出错');
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader('token', $.cookie('token'));
            },
            success: function(msg){
                console.log(msg);
                var ddd =JSON.parse(msg);
                console.log(ddd);
                if(ddd.success==true){
                    alert("添加数据成功");
                    console.log(msg);
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    window.location.reload();
                }else{
                    alert("添加数据失败，请仔细填写")
                }

            }
        })
    })

</script>
</html>
